<h1>Listing users</h1>

<ul class="users">
  <% @users.each do |user| %>
      <li>
        <%= gravatar_for user, :size => 30 %>
        <%= link_to "#{user.fname} #{user.lname}", user %>
        <% if current_user.admin? %>
            | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                          :title => "Delete #{user.name}" %>
        <% end %>

      </li>
  <% end %>
</ul>

<br />

<%= link_to 'New User', new_user_path %>
