%h1 ToDo Description
%ul
  %li
    Релиз №1
    %ul
      %li Как пользователь я хочу иметь возможность создавать/удалять списки задач и именовать их (список задач имеет наименование и описание).
      %li Как пользователь я хочу иметь возможность создавать/удалять задачи в списках задач (задача имеет наименование, описание, состояние и приоритет).
      %li Как пользователь я хочу иметь возможность помечать задачу как ‘в процессе’, ‘сделанная’.
      %li Как пользователь я хочу иметь возможность просматривать список не сделанных задач.
      %li Как пользователь я хочу иметь возможность просматривать список сделанных задач.
  %li
    Релиз №2
    %ul
      %li Добавить регистрацию/авторизацию пользователей.
      %li Пользователь должен видеть только свои задачи и списки задач.
      %li Как пользователь я хочу иметь возможность создавать/удалять проекты, проект в себя включает списки задач.
  %li
    Релиз №3
    %ul
      %li Как пользователь я хочу иметь возможность приглашать других пользователей в свои проекты.
      %li Как пользователь я хочу иметь возможность назначать задачи на других пользователей.
      %li Как пользователь я хочу получать уведомление на email когда на меня назначают задачу.
      %li Как пользователь я хочу получать уведомления на email когда меняется статус назначенных мною задач.
      %li Как пользователь я хочу получать уведомления на email когда меняется статус назначенных на меня задач.
