%table
  %tr
    %td Релиз №1
      %ul
        %li Задача №1
        %li Задача №2
        %li Задача №3
        %li Задача №4
        %li Задача №5
    %td Релиз №2
        %ul
          %li Задача №1
          %li Задача №2
          %li Задача №3
          %li Задача №4
          %li Задача №5
    %td Релиз №3
        %ul
          %li Задача №1
          %li Задача №2
          %li Задача №3
          %li Задача №4
          %li Задача №5
